extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css

block content
    section#introSection
        div Welcome to Dance Academy
        div.small Eat Sleep Dance Repeat
    
    section#missionSection
        h2 Our Mission
        div.card
            h3 Commitment
            div.card-box
                div.card-img
                    img(src="/static/img/1.png")
                
                div.card-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt.
        div.card
            h3 Inspiration
            div.card-box
                div.card-img
                    img(src="/static/img/2.png")
                
                div.card-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt.            
        div.card
            h3 Dedication
            div.card-box
                div.card-img
                    img(src="/static/img/3.png")
                
                div.card-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt.
